*{
    margin:0;
    font-family:Arial ;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
}
.nav-logo{
height: 50px;
width: 100px;
}
.logo {
    background-image: url("amazon_logo.png"); 
    background-size: cover; 
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/**Box 2 **/
.address-first{
color: #cccccc;    
font: 0.85rem Arial;
margin-left: 15px;
}
.address-second{
    font: 1rem Arial;
margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/**Box 3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.Search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: black;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
}

/**Box 4**/
.nav-language{
    display: flex;
    justify-content: center;
}
#nav-language-span{
    font: 14px Arial;
    font-weight: bold;
    
}
.nav-flag{
    background-image: url("united-states.png");
    background-size: cover;
    width: 21px;
    height: 17px;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

/**Box 5**/
.nav-first{
font-size: 12px;
}
.nav-second{
font-size: 14px;
font-weight: bolder;
}

/**Box 6**/
.nav-cart i{
font-size: 30px;
}
.nav-cart{
    font-weight: bold;
}

/**pannel**/
.pannel{
    color: white;
    background-color: #222f3d;
    display: flex;
    height: 40px;
    font-size: 14px;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-options p{
    display: inline;
    margin-left: 15px;
}
.pannel-options{
    width: 90%;
}

/**hero-section**/
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:350px;;
    display: flex;
    justify-content: center ;
    align-items: flex-end;
     
}
.hero-mesage{
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 80%;
    margin-bottom: 25px;
}
.hero-mesage a{
    color: #2162A1;
}

/**shop section**/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    background-color: white;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-content p{
    font-size: 13px;
    color: #2162A1;
}
.box-image{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;
    height: 300px;
}
.box-content{
    
    margin-left: 1rem;
    margin-Right: 1rem;    
}

/**Footer**/
footer{
    margin-top: 1rem;
}
.foot-pannel1{
    display: flex;
    background-color: #374751;
    color: white;
    justify-content: center;
    align-items: center;
    height:50px;
    font-size: 13px;
}
.foot-pannel2{
    display: flex;
    background-color: #222f3d;
    color: white;
    height: 300px;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size:14px ;
    margin-top: 10px;
    color: #dddddd;
}
ul p{
    font-weight: 700;
}
ul{
    margin-top: 35px;
}

/**Foot pannel3 **/
.foot-pannel3{
   color: #cccccc;
    background-color: #222f3d;
    height: 70px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    background-image: url("amazon_logo.png"); 
    background-size: cover; 
    height: 50px;
    width: 100px;
}
.foot-pannel3 a{
    padding: 1px 1px 1px 1px;
    margin-left:8px;
    margin-right:5px ;
    display: block;
    border: 0.5px solid #cccccc;
}
.footer-flag{
    margin: 5px;
    display: flex;
    border: 1px solid white;
}
#flag{
    background-size: cover;
    width: 21px;
    height: 17px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

/**Footer pannel4**/
.foot-pannel4{
    font-size: 12px;
    color: white;
    background-color: #0f1111;
    height: 77px;
    text-align: center;
    
}
.pages{
    padding-top: 25px;
}    
.copy-rights{
    padding-top: 5px;
}